<html>
	<head>
		PPT
	</head>
	<body>
		<form name="Ingresar" action="resultado" method="post">

		Ingrese jugada<input type="text" name="jugada" id="jugada">                
		<input type="submit" name="submit" id="submit" value="Aceptar">

		</form>
	</body>
</html>

