<html>
	<head>
		PPT
	</head>
	<body>
		<form name="Ingresar" action="resultado" method="post">

		Ingrese jugada

	<input type="submit" name="submit" id="submit" value="Piedra">
	<input type="submit" name="submit" id="submit" value="Papel">
	<input type="submit" name="submit" id="submit" value="Tijera">
	
		</form>
	</body>
</html>

