<html>
	<head>
		<b>P</b>iedra <b>P</b>apel <b>T</b>ijera
	<br>
	<br>
	</head>
	<body>
		<form name="Ingresar" action="index" method="get">
		
		
		Iniciar juego!
		<br>
		<br>
		<input type="text" name="nombre" id="nombre" value="Ingresá tu nombre">
		<input type="submit" name="ingreso" id="ingreso" value="Aceptar">

		</form> 
	</body>
</html>

