<html>
	<head>
		PPT
	</head>
	<body>
		<form name="Ingresar" action="index" method="get">
		
		
		Iniciar juego!
		<br>
		Ingrese su nombre<input type="text" name="nombre" id="nombre" value="NN">
		<input type="submit" name="ingreso" id="ingreso" value="Aceptar">

		</form>
	</body>
</html>

