<html>
	<head>
		PPT
	</head>
	<body>
		<form name="Ingresar" action="index" method="get">

		
		Iniciar juego!
		<input type="submit" name="submit" id="submit" value="Aceptar">

		</form>
	</body>
</html>

