<html>
<form action="/volver" method="get">
<p>resultado: <%= @resultado %></p>
<p>eleccionJugador: <%= @choiceHuman%></p>
<p>eleccionMaquina: <%= @choiceMaquina%></p>
<input type="submit" name="Volver" id="Volver" value="Volver">
</form>
</html>
